body {
    background-image: url("../img/bigrips.png");
    font-family: 'Comic Sans Ms';
}

p {
    text-align: center;
}

span {
    display: inline-block;
    text-align: center;
    width: 512px;
}

.main {
    margin: auto;
    width: 50%;
    background: rgba(225,225,225,.9);
}
.welcome {
    width: 92px;
    height: 49px;
    background-image: url("../img/welcomer.gif");
}

.spaceboy {
    height: 5500px;
    
}

#jim {
    position:fixed;
    left:50px;
    top:50px;
    width:170px;
    transition: transform 200ms;
    transform: rotate(7deg);
    transform-origin:90% 90%;
}
